# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables
.env

# VS Code
.vscode/

# Node
node_modules/

# Build files
dist/
build/

# Logs
*.log

# OS
.DS_Store
Thumbs.db